@model _247_Benchmark.Models.BibleModel
@{
    ViewBag.Title = "Verse Success";
}

<br /><br /><br />
<h2>Success!</h2>
<h4>Bible verse has been entered.</h4>
@Html.ActionLink("Back", "../Bible")
